/* generated: Wed Nov 23 2011 17:24:17 GMT+0700 (ICT) */
/**
 * dark-facebook - a dark theme for facebook
 * https://github.com/dtinth/dark-facebook
 */
body {
  background-color: #252423 !important;
}
body,
body * {
  border-color: #31302f !important;
}
body,
body * {
  color: #e9e8e7 !important;
}
body * {
  background-color: transparent !important;
}
[id="blueBar"] {
  background-color: #090807 !important;
}
[id="blueBar"],
[id="blueBar"] * {
  border-color: #31302f !important;
}
.uiScrollableAreaTrack {
  background-color: transparent !important;
}
[id="sideNav"] .navHeader,
[id="sideNav"] .navHeader * {
  color: rgba(139,134,133,0.60) !important;
}
[id="sideNav"] .selectedItem .item {
  background-color: #353433 !important;
}
.uiSideNav,
.uiSideNav * {
  color: #8b8685 !important;
}
.uiSideNavCount {
  background-color: #353466 !important;
}
.uiSideNavCount,
.uiSideNavCount * {
  border-color: #464577 !important;
}
.uiSideNavCount,
.uiSideNavCount * {
  color: #7978aa !important;
}
.sideNavItem .imgWrap,
.uiStreamPrivacy,
.attachmentLink .img,
.uiStreamFooter .img,
.uiUfiLike .UIImageBlock .UIImageBlock_Image,
.ego_action .img,
.fbCurrentStory .img,
.uiBlingBox .img {
  opacity: 0.6 !important;
}
[id="contentCol"] {
  background-color: #353433 !important;
}
[id="contentCol"],
[id="contentCol"] * {
  border-color: #454443 !important;
}
.ufiNub,
.nub,
.hovercard .arrow,
.uiStream .uiStreamBoulderStyle .highlightSelector .uiSelectorButton,
.uiOverlayArrow {
  opacity: 0.2 !important;
}
.uiAttachmentDesc,
.fbEmu,
.ego_unit a,
.uiAttachmentDesc *,
.fbEmu *,
.ego_unit a * {
  color: #8b8685 !important;
}
.UIActionLinks,
.attachmentLink,
.fbxWelcomeBoxName,
.fbCurrent a,
.fbEmuMainBody a,
.fbEmu .title a,
.fbJewelFlyout .blueName,
.messageBody a,
.uiListItem a,
.uiListItem button,
.ego_unit .ego_action a,
.notesBlogText a,
.timelineUnitContainer a,
.fbPhotoSnowbox a,
.generic_dialog a,
.UIActionLinks *,
.attachmentLink *,
.fbxWelcomeBoxName *,
.fbCurrent a *,
.fbEmuMainBody a *,
.fbEmu .title a *,
.fbJewelFlyout .blueName *,
.messageBody a *,
.uiListItem a *,
.uiListItem button *,
.ego_unit .ego_action a *,
.notesBlogText a *,
.timelineUnitContainer a *,
.fbPhotoSnowbox a *,
.generic_dialog a * {
  color: #9cb6df !important;
}
.uiStreamSource a,
.uiStreamSource,
a.timestamp,
.uiStreamSource a *,
.uiStreamSource *,
a.timestamp * {
  color: #8b8685 !important;
}
.uiListItem a.actorName,
.ego_unit .ego_title,
.uiListItem a.actorName *,
.ego_unit .ego_title * {
  color: #bef !important;
}
.storyHighlightIndicatorWrapper {
  background-color: transparent !important;
}
.storyHighlightIndicatorWrapper .img {
  opacity: 0.2 !important;
}
.storyContent .uiStreamMessage .actorName,
.storyContent .uiStreamMessage .actorDescription,
.storyContent .uiStreamMessage.uiStreamPassive {
  font: 14px/1.2 Helvetica, sans-serif !important;
}
.storyContent .uiStreamMessage .actorName,
.storyContent .uiStreamMessage .actorDescription,
.storyContent .uiStreamMessage.uiStreamPassive,
.storyContent .uiStreamMessage .actorName *,
.storyContent .uiStreamMessage .actorDescription *,
.storyContent .uiStreamMessage.uiStreamPassive * {
  color: #8b8685 !important;
}
.storyContent .uiStreamMessage .actorName a,
.storyContent .uiStreamMessage .actorDescription a,
.storyContent .uiStreamMessage.uiStreamPassive a,
.storyContent .uiStreamMessage .actorName a *,
.storyContent .uiStreamMessage .actorDescription a *,
.storyContent .uiStreamMessage.uiStreamPassive a * {
  color: #9c9796 !important;
}
.storyContent .uiStreamMessage .actorDescription .actorName,
.storyContent .uiStreamMessage .actorName a,
.storyContent .uiStreamMessage a.passiveName {
  font-weight: bold !important;
}
.storyContent .uiStreamMessage .actorDescription .actorName,
.storyContent .uiStreamMessage .actorName a,
.storyContent .uiStreamMessage a.passiveName,
.storyContent .uiStreamMessage .actorDescription .actorName *,
.storyContent .uiStreamMessage .actorName a *,
.storyContent .uiStreamMessage a.passiveName * {
  color: #bef !important;
}
.uiList .ufiItem {
  background-color: #3d3c4c !important;
}
.uiList .ufiItem,
.uiList .ufiItem * {
  border-color: #4e4d5d !important;
}
.uiList .uiUfiUnseenItem {
  background-color: #3d3c5d !important;
}
.uiList .uiUfiUnseenItem,
.uiList .uiUfiUnseenItem * {
  border-color: #4e4d6e !important;
}
.uiSearchInput,
.uiTypeahead .wrap,
.inputContainer,
.MessagingComposerBody,
.uiSearchInput *,
.uiTypeahead .wrap *,
.inputContainer *,
.MessagingComposerBody * {
  background-color: #090807 !important;
}
.uiSearchInput,
.uiTypeahead .wrap,
.inputContainer,
.MessagingComposerBody,
.uiSearchInput *,
.uiTypeahead .wrap *,
.inputContainer *,
.MessagingComposerBody *,
.uiSearchInput *,
.uiTypeahead .wrap *,
.inputContainer *,
.MessagingComposerBody *,
.uiSearchInput * *,
.uiTypeahead .wrap * *,
.inputContainer * *,
.MessagingComposerBody * * {
  color: #e9e8e7 !important;
}
.DOMControl_placeholder,
.DOMControl_placeholder * {
  color: #8b8685 !important;
}
body:not(.timelineLayout) .uiSideHeader {
  background-color: #683433 !important;
}
body:not(.timelineLayout) .uiSideHeader,
body:not(.timelineLayout) .uiSideHeader * {
  border-color: #8b5655 !important;
}
body:not(.timelineLayout) .uiSideHeader,
body:not(.timelineLayout) .uiSideHeader * {
  color: #ffd4d3 !important;
}
body:not(.timelineLayout) .uiSideHeader a,
body:not(.timelineLayout) .uiSideHeader a * {
  color: #c58988 !important;
}
.uiTooltip {
  background-color: transparent !important;
}
.uiTooltipText {
  background-color: #090807 !important;
}
.uiOverlay {
  background-color: transparent !important;
}
.uiOverlay .uiOverlayContent {
  background-color: #353433 !important;
}
.uiOverlay .uiOverlayContent,
.uiOverlay .uiOverlayContent * {
  border-color: #454443 !important;
}
.UIBeeper_Full {
  background-color: #090807 !important;
}
.UIBeeper_Full,
.UIBeeper_Full * {
  border-color: #454443 !important;
}
.fbNubButton {
  background-color: #252423 !important;
  box-shadow: 0 1px 0 rgba(255,255,255,0.30) !important;
}
.fbNubButton,
.fbNubButton * {
  border-color: #454443 !important;
}
.uiScrollableAreaGripper {
  background-color: #090807 !important;
}
.uiScrollableAreaGripper,
.uiScrollableAreaGripper * {
  border-color: #454443 !important;
}
.fbChatSidebar,
.fbChatSidebar .uiTypeahead,
.fbChatSidebar *,
.fbChatSidebar .uiTypeahead * {
  background-color: #353433 !important;
}
.fbChatSidebar,
.fbChatSidebar .uiTypeahead,
.fbChatSidebar *,
.fbChatSidebar .uiTypeahead *,
.fbChatSidebar *,
.fbChatSidebar .uiTypeahead *,
.fbChatSidebar * *,
.fbChatSidebar .uiTypeahead * * {
  border-color: #454443 !important;
}
.fbChatSidebar,
.fbChatSidebar * {
  box-shadow: none !important;
}
.fbNubFlyout {
  background-color: #090807 !important;
}
.fbNubFlyout,
.fbNubFlyout * {
  border-color: #454443 !important;
}
.fbNubFlyout .fbNubFlyoutInner {
  background-color: #252423 !important;
}
.fbNubFlyout .fbNubFlyoutInner,
.fbNubFlyout .fbNubFlyoutInner * {
  border-color: #31302f !important;
}
.fbNubFlyout .titlebar {
  background-color: #683433 !important;
}
.fbNubFlyout .titlebar,
.fbNubFlyout .titlebar * {
  border-color: #8b5655 !important;
}
.fbNubFlyout .fbNubFlyoutHeader {
  background-color: #252423 !important;
}
.fbFeedTicker .tickerStoryActive,
.fbFeedTicker .tickerStoryClickable:hover {
  background-color: #353466 !important;
}
div.uiMenu,
ul.navigation,
#bfb_options_button_li ul#bfb_option_list {
  background-color: #090807 !important;
}
div.uiMenu,
ul.navigation,
#bfb_options_button_li ul#bfb_option_list,
div.uiMenu *,
ul.navigation *,
#bfb_options_button_li ul#bfb_option_list * {
  border-color: #454443 !important;
}
div.uiMenu li,
ul.navigation li,
#bfb_options_button_li ul#bfb_option_list li {
  background-color: #090807 !important;
}
div.uiMenu li,
ul.navigation li,
#bfb_options_button_li ul#bfb_option_list li,
div.uiMenu li *,
ul.navigation li *,
#bfb_options_button_li ul#bfb_option_list li * {
  border-color: #090807 !important;
}
div.uiMenu li,
ul.navigation li,
#bfb_options_button_li ul#bfb_option_list li,
div.uiMenu li *,
ul.navigation li *,
#bfb_options_button_li ul#bfb_option_list li *,
div.uiMenu li a,
ul.navigation li a,
#bfb_options_button_li ul#bfb_option_list li a,
div.uiMenu li *,
ul.navigation li *,
#bfb_options_button_li ul#bfb_option_list li *,
div.uiMenu li * *,
ul.navigation li * *,
#bfb_options_button_li ul#bfb_option_list li * *,
div.uiMenu li a *,
ul.navigation li a *,
#bfb_options_button_li ul#bfb_option_list li a * {
  color: #e9e8e7 !important;
}
div.uiMenu li:hover,
ul.navigation li:hover,
#bfb_options_button_li ul#bfb_option_list li:hover,
div.uiMenu li a:hover,
ul.navigation li a:hover,
#bfb_options_button_li ul#bfb_option_list li a:hover {
  background-color: #353466 !important;
}
div.uiMenu li:hover,
ul.navigation li:hover,
#bfb_options_button_li ul#bfb_option_list li:hover,
div.uiMenu li a:hover,
ul.navigation li a:hover,
#bfb_options_button_li ul#bfb_option_list li a:hover,
div.uiMenu li:hover *,
ul.navigation li:hover *,
#bfb_options_button_li ul#bfb_option_list li:hover *,
div.uiMenu li a:hover *,
ul.navigation li a:hover *,
#bfb_options_button_li ul#bfb_option_list li a:hover * {
  border-color: #464577 !important;
}
.hovercard .stage,
.HovercardStage {
  background-color: #090807 !important;
}
.hovercard .stage,
.HovercardStage,
.hovercard .stage *,
.HovercardStage * {
  border-color: #454443 !important;
}
.hovercard .stage .actions,
.HovercardStage .actions,
.hovercard .stage .uiHovercardFooter,
.HovercardStage .uiHovercardFooter {
  background-color: #252423 !important;
}
.fbJewelFlyout {
  background-color: #3c3b3a !important;
}
.fbJewelFlyout,
.fbJewelFlyout * {
  border-color: #4c4b4a !important;
}
.fbJewelFlyout .notification[style] {
  background-color: #4d4c4b !important;
}
.fbJewelFlyout .notification.selected,
.fbJewelFlyout a:hover {
  background-color: #353466 !important;
}
.fbJewelFlyout .notification.selected,
.fbJewelFlyout a:hover,
.fbJewelFlyout .notification.selected *,
.fbJewelFlyout a:hover * {
  border-color: #464577 !important;
}
.fbJewelFlyout .jewelHighlight a:hover span,
.fbJewelFlyout .jewelHighlight a:active span,
.fbJewelFlyout .jewelHighlight a:focus span,
.fbJewelFlyout .jewelHighlight a:hover div,
.fbJewelFlyout .jewelHighlight a:active div,
.fbJewelFlyout .jewelHighlight a:focus div,
.fbJewelFlyout .jewelHighlight li.selected a,
.fbJewelFlyout .jewelHighlight li.selected .timestamp {
  background-color: #353466 !important;
}
.fbJewelFlyout .jewelHighlight a:hover span,
.fbJewelFlyout .jewelHighlight a:active span,
.fbJewelFlyout .jewelHighlight a:focus span,
.fbJewelFlyout .jewelHighlight a:hover div,
.fbJewelFlyout .jewelHighlight a:active div,
.fbJewelFlyout .jewelHighlight a:focus div,
.fbJewelFlyout .jewelHighlight li.selected a,
.fbJewelFlyout .jewelHighlight li.selected .timestamp,
.fbJewelFlyout .jewelHighlight a:hover span *,
.fbJewelFlyout .jewelHighlight a:active span *,
.fbJewelFlyout .jewelHighlight a:focus span *,
.fbJewelFlyout .jewelHighlight a:hover div *,
.fbJewelFlyout .jewelHighlight a:active div *,
.fbJewelFlyout .jewelHighlight a:focus div *,
.fbJewelFlyout .jewelHighlight li.selected a *,
.fbJewelFlyout .jewelHighlight li.selected .timestamp * {
  border-color: #464577 !important;
}
.jewelFooter {
  background-color: #683433 !important;
}
.jewelFooter,
.jewelFooter * {
  border-color: #8b5655 !important;
}
.fbQuestionsPollResultsBar {
  background-color: #090807 !important;
}
.fbQuestionsPollResultsBar .shaded {
  background-color: #252423 !important;
}
.uiSelectorNormal .uiSelectorButton,
.uiSelectorNormal .uiButtonSuppressed,
.uiSelectorNormal .uiSelectorButton:active,
.uiSelectorNormal .uiButtonSuppressed:active,
.uiSelectorNormal .uiSelectorButton:focus,
.uiSelectorNormal .uiButtonSuppressed:focus,
.uiSelectorNormal .uiSelectorButton:hover,
.uiSelectorNormal .uiButtonSuppressed:hover {
  background-color: #090807 !important;
  background-image: none !important;
}
.uiSelectorNormal .uiSelectorButton,
.uiSelectorNormal .uiButtonSuppressed,
.uiSelectorNormal .uiSelectorButton:active,
.uiSelectorNormal .uiButtonSuppressed:active,
.uiSelectorNormal .uiSelectorButton:focus,
.uiSelectorNormal .uiButtonSuppressed:focus,
.uiSelectorNormal .uiSelectorButton:hover,
.uiSelectorNormal .uiButtonSuppressed:hover,
.uiSelectorNormal .uiSelectorButton *,
.uiSelectorNormal .uiButtonSuppressed *,
.uiSelectorNormal .uiSelectorButton:active *,
.uiSelectorNormal .uiButtonSuppressed:active *,
.uiSelectorNormal .uiSelectorButton:focus *,
.uiSelectorNormal .uiButtonSuppressed:focus *,
.uiSelectorNormal .uiSelectorButton:hover *,
.uiSelectorNormal .uiButtonSuppressed:hover * {
  border-color: #090807 !important;
}
.uiSelectorNormal .uiSelectorButton:hover,
.uiSelectorNormal .uiButtonSuppressed:hover,
.uiSelectorNormal .uiSelectorButton:active:hover,
.uiSelectorNormal .uiButtonSuppressed:active:hover,
.uiSelectorNormal .uiSelectorButton:focus:hover,
.uiSelectorNormal .uiButtonSuppressed:focus:hover,
.uiSelectorNormal .uiSelectorButton:hover:hover,
.uiSelectorNormal .uiButtonSuppressed:hover:hover {
  background-color: #090807 !important;
}
.uiSelectorNormal .uiSelectorButton:hover,
.uiSelectorNormal .uiButtonSuppressed:hover,
.uiSelectorNormal .uiSelectorButton:active:hover,
.uiSelectorNormal .uiButtonSuppressed:active:hover,
.uiSelectorNormal .uiSelectorButton:focus:hover,
.uiSelectorNormal .uiButtonSuppressed:focus:hover,
.uiSelectorNormal .uiSelectorButton:hover:hover,
.uiSelectorNormal .uiButtonSuppressed:hover:hover,
.uiSelectorNormal .uiSelectorButton:hover *,
.uiSelectorNormal .uiButtonSuppressed:hover *,
.uiSelectorNormal .uiSelectorButton:active:hover *,
.uiSelectorNormal .uiButtonSuppressed:active:hover *,
.uiSelectorNormal .uiSelectorButton:focus:hover *,
.uiSelectorNormal .uiButtonSuppressed:focus:hover *,
.uiSelectorNormal .uiSelectorButton:hover:hover *,
.uiSelectorNormal .uiButtonSuppressed:hover:hover * {
  border-color: #454443 !important;
}
.uiButton {
  background-color: #090807 !important;
  background-image: none !important;
}
.uiButton,
.uiButton * {
  border-color: #090807 !important;
}
.uiButton:hover {
  background-color: #090807 !important;
}
.uiButton:hover,
.uiButton:hover * {
  border-color: #454443 !important;
}
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton,
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:active,
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:focus,
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:hover {
  background-color: transparent !important;
}
.separator .text,
.uiStreamHeader .uiSelector {
  background-color: #353433 !important;
}
.separator .text,
.uiStreamHeader .uiSelector,
.separator .text *,
.uiStreamHeader .uiSelector * {
  color: #8b8685 !important;
}
.uiTypeaheadView {
  background-color: #090807 !important;
}
.uiTypeaheadView,
.uiTypeaheadView * {
  border-color: #454443 !important;
}
ul.search {
  background-color: #090807 !important;
}
ul.search,
ul.search * {
  border-color: #090807 !important;
}
ul.search li,
ul.search li * {
  color: #8b8685 !important;
}
ul.search li .text,
ul.search li .text * {
  color: #9cb6df !important;
}
ul.search li.header {
  background-color: #090807 !important;
}
ul.search li.header,
ul.search li.header * {
  border-color: #31302f !important;
}
ul.search li.header,
ul.search li.header .text,
ul.search li.header *,
ul.search li.header .text * {
  color: #e9e8e7 !important;
}
ul.search li.calltoaction {
  background-color: #683433 !important;
}
ul.search li.calltoaction,
ul.search li.calltoaction * {
  border-color: #8b5655 !important;
}
ul.search li.calltoaction a,
ul.search li.calltoaction a .text,
ul.search li.calltoaction a .seeMore,
ul.search li.calltoaction a *,
ul.search li.calltoaction a .text *,
ul.search li.calltoaction a .seeMore * {
  color: #c58988 !important;
}
ul.search li.selected {
  background-color: #353466 !important;
}
ul.search li.selected,
ul.search li.selected * {
  border-color: #464577 !important;
}
ul.search li.selected .text,
ul.search li.selected .text * {
  color: #bef !important;
}
.uiTypeaheadView .bucketed .header .text,
.uiTypeaheadView .bucketed .header .text * {
  color: #e9e8e7 !important;
}
.uiBoxLightblue {
  background-color: #683433 !important;
}
.uiBoxLightblue,
.uiBoxLightblue * {
  border-color: #8b5655 !important;
}
.fbMainStreamAttachment .uiPhotoThumb,
.fbMainStreamAttachment .uiMediaThumb,
.fbMainStreamAttachment .uiVideoThumb {
  border: 0 !important;
}
.fbMainStreamAttachment .uiPhotoThumb img,
.fbMainStreamAttachment .uiMediaThumb img,
.fbMainStreamAttachment .uiVideoThumb img,
.fbMainStreamAttachment .uiPhotoThumb i,
.fbMainStreamAttachment .uiMediaThumb i,
.fbMainStreamAttachment .uiVideoThumb i {
  margin: 0 3px 3px 0 !important;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.30) !important;
}
.jewelCount {
  background-color: #252423 !important;
}
.timelineLayout [id="contentCol"] {
  background-color: #252423 !important;
}
.timelineLayout .fbTimelineTopSection,
.timelineLayout .timelineUnitContainer {
  background-color: #353433 !important;
}
.timelineLayout .frame.detail,
.timelineLayout .fbTimelineRibbon {
  background-color: #090807 !important;
}
.timelineLayout .counter {
  background-color: #252423 !important;
}
.timelineLayout .topBorder,
.timelineLayout .bottomBorder {
  background-image: none !important;
}
.timelineLayout .topBorder {
  border-bottom: 1px solid #454443 !important;
}
.timelineLayout .bottomBorder {
  border-top: 2px solid #454443 !important;
}
.timelineLayout .spinePointer {
  display: none;
}
.timelineLayout .fbTimelineCapsule,
.timelineLayout .fbTimelineTimePeriod {
  background-image: none !important;
}
.timelineLayout .profilePicThumb {
  background-color: #090807 !important;
}
.timelineLayout .profilePicThumb,
.timelineLayout .profilePicThumb * {
  border-color: #454443 !important;
}
.timelineLayout .timelineTimestamp .uiSelectorButton {
  background-color: transparent !important;
  border-width: 0 !important;
}
.timelineLayout .stickyHeaderWrap {
  background-color: #090807 !important;
}
.timelineLayout .stickyHeaderWrap,
.timelineLayout .stickyHeaderWrap * {
  border-color: #454443 !important;
}
.timelineLayout .stickyHeaderWrap .back {
  background-color: #090807 !important;
}
.fbPhotoSnowbox {
  background-color: rgba(53,52,51,0.75) !important;
}
.fbPhotoSnowbox .container {
  background-color: #090807 !important;
  box-shadow: 0 1px 15px rgba(139,134,133,0.30), 0 0 1px rgba(139,134,133,0.70) !important;
}
.fbPhotoSnowbox .container,
.fbPhotoSnowbox .container * {
  border-color: #31302f !important;
}
.fbPhotoSnowbox .container .photoInfoWrapper {
  background-color: #252423 !important;
  margin-left: -12px !important;
  padding-left: 12px !important;
  margin-right: -12px !important;
  padding-right: 12px !important;
  margin-bottom: -12px !important;
  padding-bottom: 12px !important;
}
.fbPhotoSnowbox .container .photoInfoWrapper,
.fbPhotoSnowbox .container .photoInfoWrapper * {
  border-color: #31302f !important;
}
.fbPhotoSnowbox .container .arrowLeft a,
.fbPhotoSnowbox .container .arrowRight a {
  background-color: #090807 !important;
}
.fbPhotoSnowbox .container .arrowLeft a,
.fbPhotoSnowbox .container .arrowRight a,
.fbPhotoSnowbox .container .arrowLeft a *,
.fbPhotoSnowbox .container .arrowRight a * {
  border-color: #31302f !important;
}
.fbPhotoSnowbox .container .arrowLeft a {
  background-image: url("https://s-static.ak.facebook.com/rsrc.php/v1/yn/r/77uboGPzRks.png") !important;
}
.fbPhotoSnowbox .container .arrowRight a {
  background-image: url("https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/KsODvVMV-0n.png") !important;
}
.generic_dialog .pop_content {
  background-color: #252423 !important;
}
.generic_dialog .pop_content,
.generic_dialog .pop_content * {
  border-color: #31302f !important;
}
.generic_dialog .pop_container_advanced {
  background: rgba(139,134,133,0.70) !important;
}
.generic_dialog .dialog_buttons {
  background-color: #353433 !important;
}
.generic_dialog .dialog_buttons,
.generic_dialog .dialog_buttons * {
  border-color: #454443 !important;
}
.generic_dialog h2.dialog_title {
  background-color: #683433 !important;
}
.generic_dialog h2.dialog_title,
.generic_dialog h2.dialog_title * {
  border-color: #8b5655 !important;
}
[id="MessagingShelf"],
.MessagingReadHeader {
  background-color: #353433 !important;
}
[id="MessagingShelf"],
.MessagingReadHeader,
[id="MessagingShelf"] *,
.MessagingReadHeader * {
  border-color: #454443 !important;
}
#better_fb_cp,
#better_fb_cp * {
  color: #8b8685 !important;
}
#better_fb_cp #bfb_status_older_posts_input {
  background-color: #090807 !important;
  border-width: 1px !important;
  border-style: solid !important;
}
#better_fb_cp #bfb_status_older_posts_input,
#better_fb_cp #bfb_status_older_posts_input * {
  color: #e9e8e7 !important;
}
#better_fb_cp input[type="checkbox"] {
  opacity: 0.6 !important;
}
#bfb_options a,
#bfb_options a * {
  color: #9cb6df !important;
}
#bfb_options .options_dialog {
  background-color: #090807 !important;
}
#bfb_options .options_dialog,
#bfb_options .options_dialog * {
  border-color: #31302f !important;
}
#bfb_options .options_dialog .bfb_tab_selected,
#bfb_options .options_dialog #bfb_options_content {
  background-color: #353433 !important;
}
#bfb_options .options_dialog .bfb_tab_selected,
#bfb_options .options_dialog #bfb_options_content,
#bfb_options .options_dialog .bfb_tab_selected *,
#bfb_options .options_dialog #bfb_options_content * {
  border-color: #454443 !important;
}
#bfb_options .options_dialog .bfb_tab_selected input[type="button"],
#bfb_options .options_dialog #bfb_options_content input[type="button"],
#bfb_options .options_dialog .bfb_tab_selected input[type="submit"],
#bfb_options .options_dialog #bfb_options_content input[type="submit"] {
  background-color: #090807 !important;
  border-width: 1px !important;
  border-style: solid !important;
  cursor: pointer !important;
}
#bfb_options .options_dialog .bfb_tab_selected input[type="button"],
#bfb_options .options_dialog #bfb_options_content input[type="button"],
#bfb_options .options_dialog .bfb_tab_selected input[type="submit"],
#bfb_options .options_dialog #bfb_options_content input[type="submit"],
#bfb_options .options_dialog .bfb_tab_selected input[type="button"] *,
#bfb_options .options_dialog #bfb_options_content input[type="button"] *,
#bfb_options .options_dialog .bfb_tab_selected input[type="submit"] *,
#bfb_options .options_dialog #bfb_options_content input[type="submit"] * {
  border-color: #090807 !important;
}
#bfb_options .options_dialog .bfb_tab_selected input[type="button"]:hover,
#bfb_options .options_dialog #bfb_options_content input[type="button"]:hover,
#bfb_options .options_dialog .bfb_tab_selected input[type="submit"]:hover,
#bfb_options .options_dialog #bfb_options_content input[type="submit"]:hover {
  background-color: #252423 !important;
}
#bfb_options .options_dialog .bfb_tab_selected input[type="button"]:hover,
#bfb_options .options_dialog #bfb_options_content input[type="button"]:hover,
#bfb_options .options_dialog .bfb_tab_selected input[type="submit"]:hover,
#bfb_options .options_dialog #bfb_options_content input[type="submit"]:hover,
#bfb_options .options_dialog .bfb_tab_selected input[type="button"]:hover *,
#bfb_options .options_dialog #bfb_options_content input[type="button"]:hover *,
#bfb_options .options_dialog .bfb_tab_selected input[type="submit"]:hover *,
#bfb_options .options_dialog #bfb_options_content input[type="submit"]:hover * {
  border-color: #454443 !important;
}
#bfb_options .options_dialog .bfb_tab_search {
  background-color: #252423 !important;
}
#bfb_options .options_dialog .bfb_tab_search,
#bfb_options .options_dialog .bfb_tab_search * {
  border-color: #454443 !important;
}
#bfb_options .GM_options_header {
  background-color: #252423 !important;
}
#bfb_options .GM_options_header,
#bfb_options .GM_options_header * {
  border-color: #31302f !important;
}
#bfb_options input.text,
#bfb_options #bfb_options_search {
  background-color: #090807 !important;
  border-width: 1px !important;
  border-style: solid !important;
}
#bfb_options input.text,
#bfb_options #bfb_options_search,
#bfb_options input.text *,
#bfb_options #bfb_options_search * {
  color: #e9e8e7 !important;
}
#bfb_options input[type="button"],
#bfb_options input[type="submit"] {
  background-color: #090807 !important;
  border-width: 1px !important;
  border-style: solid !important;
  cursor: pointer !important;
}
#bfb_options input[type="button"],
#bfb_options input[type="submit"],
#bfb_options input[type="button"] *,
#bfb_options input[type="submit"] * {
  border-color: #090807 !important;
}
#bfb_options input[type="button"]:hover,
#bfb_options input[type="submit"]:hover {
  background-color: #252423 !important;
}
#bfb_options input[type="button"]:hover,
#bfb_options input[type="submit"]:hover,
#bfb_options input[type="button"]:hover *,
#bfb_options input[type="submit"]:hover * {
  border-color: #454443 !important;
}
