
/**
 * dark-facebook - a dark theme for facebook
 * https://github.com/dtinth/dark-facebook
 */

mix(color1, color2, weight = 50%)
	w = weight / 100%
	color1 * (w) + color2 * (1 - w)

cancel(side, amount, pad = 0)
	margin-{side}: -(amount) !important
	padding-{side}: amount + pad !important

$page-background = #252423
$color = #e9e8e7
$page-border = $page-background + #0c0c0c

$dim-color = #8b8685

$main-background = #353433
$main-border = $main-background + #101010

$highlight-background = $main-background + #003
$highlight-border = $highlight-background + #111
$highlight-color = $highlight-background + #444

$dark-background = #090807
$light-background = $main-background + #070707
$light-border = $light-background + #101010
$comments-background = $main-background + #001 + #080808

$link-color = mix(#8ad, $color, 80%)
$name-color = #bef

$side-header-background = $main-background + #300
$side-header-border = lighten($side-header-background, 0.2) + #222
$side-header-text-color = lighten($side-header-background, 60%) + #333
$side-header-link-color = lighten($side-header-background, 50%)

colorize($background, $border = null)
	background-color: $background !important
	if $border != null
		&, *
			border-color: $border !important

text-color($color)
	&, *
		color: $color !important

transparent()
	background-color: transparent !important;

dim-image()
	opacity: 0.6 !important

dim-image-more()
	opacity: 0.2 !important



$text-field-background = #090807
$text-field-placeholder-color = $dim-color

plain-input-style()
	border-width: 1px !important
	border-style: solid !important
	-moz-appearance: none !important
	-webkit-appearance: none !important

plain-button-style()
	colorize: $dark-background, $dark-background
	background-image: none !important
	plain-input-style()
	cursor: pointer !important
	&:hover
		colorize: $page-background, $main-border

text-field-colors()
	colorize: $text-field-background
	background-image: none !important
	text-color: $color
	
text-field-style()
	text-field-colors()
	plain-input-style()

// menus
menu-style()
	colorize: $dark-background, $main-border
	li
		colorize: $dark-background, $dark-background
		&, *, a
			text-color: $color
		&:hover, a:hover
			colorize: $highlight-background, $highlight-border

menu-style-fix()
	.uiMenuInner
		menu-style()


// page elements

body
	colorize: $page-background, $page-border
	text-color: $color
	*
		transparent()

[id="blueBar"]
	colorize: $dark-background, $page-border
	border-color: $main-border !important
	background: url('images/top-bar.png') top left repeat-x !important

.uiScrollableAreaTrack
	transparent()


// sidebar navigation
[id="sideNav"] .navHeader
	text-color: rgba($dim-color, 0.6)
[id="sideNav"]
	.selectedItem .item
		colorize: $main-background
		box-shadow: 0px 2px 0 mix($page-background, $dark-background, 70%)
.uiSideNav
	text-color: $dim-color
.uiSideNavCount
	colorize: $highlight-background, $highlight-border
	text-color: $highlight-color
	box-shadow: inset 0 0 1px $highlight-border !important



// navigation items
.sideNavItem .imgWrap
// shared with links
.uiStreamPrivacy
// post type
.attachmentLink .img
// posted via icon
.uiStreamFooter .img
// like count
.uiUfiLike .UIImageBlock .UIImageBlock_Image
// add friend link in sidebar
.ego_action .img
// action links
.fbCurrentStory .img
// like comments share box
.uiBlingBox .img
	dim-image()


// content column

[id="contentCol"]
	colorize: $main-background, $main-border



// various arrows
.ufiNub
.nub
.hovercard .arrow
.uiOverlayArrow
// dim the wrench icon on social fixer
#bfb_options_button img
	dim-image-more()

// stream story drop down
.uiStream .uiStreamBoulderStyle .highlightSelector .uiSelectorButton
	background-image: url('images/stream-button.png') !important

// dimmed texts
.uiAttachmentDesc
.fbEmu
.ego_unit a
	text-color: $dim-color

// links
.UIActionLinks
.attachmentLink
.fbxWelcomeBoxName
.fbCurrent a
.fbEmuMainBody a
.fbEmu .title a
.fbJewelFlyout .blueName
.messageBody a
.uiListItem a, .uiListItem button
.ego_unit .ego_action a
.notesBlogText a
.timelineUnitContainer a
.fbPhotoSnowbox a
.generic_dialog a
	text-color: $link-color
	.uiTooltipText
		text-color: $color

// dimmed text override
.uiStreamSource a
.uiStreamSource
a.timestamp
	text-color: $dim-color

// name color
.uiListItem a.actorName
.ego_unit .ego_title
	text-color: $name-color


// news feed stories
.storyHighlightIndicatorWrapper
	transparent()
	.img
		dim-image-more()

.storyContent .uiStreamMessage
	.actorName
	.actorDescription
	&.uiStreamPassive
		font: 14px/1.2 Helvetica, sans-serif !important;
		text-color: $dim-color
		a
			text-color: $dim-color + #111
	.actorDescription .actorName, .actorName a, a.passiveName
		text-color: $name-color
		font-weight: bold !important

// comments list
.uiList
	.ufiItem
		colorize: $comments-background, $comments-background + #111
	.uiUfiUnseenItem
		colorize: $comments-background + #001, $comments-background + #112


// text fields

.uiSearchInput
[id="globalContainer"] .uiTypeahead .wrap
.inputContainer
.MessagingComposerBody
	&, *
		text-field-colors()

.DOMControl_placeholder
	text-color: $text-field-placeholder-color


// sidebar header
body:not(.timelineLayout) .uiSideHeader
	colorize: $side-header-background, $side-header-border
	text-color: $side-header-text-color
	a
		text-color: $side-header-link-color


// tooltips
.uiTooltip
	transparent()
.uiTooltipText
	colorize: $dark-background


// overlays
.uiOverlay
	transparent()
	.uiOverlayContent
		colorize: $main-background, $main-border
		menu-style-fix()


// beeper
.UIBeeper_Full
	colorize: $dark-background, $main-border


// chat boxes
.fbNubButton
	colorize: $page-background, $main-border
	box-shadow: 0 1px 0 rgba(white, 0.3) !important


// scrollbars
.uiScrollableAreaGripper
	colorize: $dark-background, $main-border


// chat sidebar
.fbChatSidebar
	&, .uiTypeahead
		&, *
			colorize: $main-background, $main-border
	&, *
		box-shadow: none !important


// chat popup
.fbNubFlyout
	colorize: $dark-background, $main-border
	.fbNubFlyoutInner
		colorize: $page-background, $page-border
	.titlebar
		colorize: $side-header-background, $side-header-border
		menu-style-fix()
	.fbNubFlyoutHeader
		colorize: $page-background


// hover ticket
.fbFeedTicker .tickerStoryActive, .fbFeedTicker .tickerStoryClickable:hover
	colorize: $highlight-background



// menus
div.uiMenu
ul.navigation
// social fixer menu
#bfb_options_button_li ul#bfb_option_list
	menu-style()


// hovercards
.hovercard .stage, .HovercardStage
	colorize: $dark-background, $main-border
	.actions, .uiHovercardFooter
		colorize: $page-background


// jewel flyouts
#jewelContainer .fbJewel.openToggler
	.jewelButton
		colorize: $dark-background, $light-border
.slimHeader #fbNotificationsJewel a.jewelButton
.slimHeader #fbMessagesJewel a.jewelButton
.slimHeader #fbRequestsJewel a.jewelButton
	background-image: url('images/jewel-normal.png') !important
.slimHeader #fbNotificationsJewel.openToggler a.jewelButton
.slimHeader #fbMessagesJewel.openToggler a.jewelButton
.slimHeader #fbRequestsJewel.openToggler a.jewelButton
	background-image: url('images/jewel.png') !important
.fbJewelFlyout
	colorize: $light-background, $light-border
	.notification[style], .jewelItemNew
		colorize: $light-background + #111
	.notification.selected, a:hover
		colorize: $highlight-background, $highlight-border
	.jewelHeader
		colorize: $dark-background, $main-border
.fbJewelFlyout .jewelHighlight a:hover span, .fbJewelFlyout .jewelHighlight a:active span, .fbJewelFlyout .jewelHighlight a:focus span, .fbJewelFlyout .jewelHighlight a:hover div, .fbJewelFlyout .jewelHighlight a:active div, .fbJewelFlyout .jewelHighlight a:focus div, .fbJewelFlyout .jewelHighlight li.selected a, .fbJewelFlyout .jewelHighlight li.selected .timestamp
	colorize: $highlight-background, $highlight-border
.jewelFooter
	colorize: $side-header-background, $side-header-border

// poll results
.fbQuestionsPollResultsBar
	colorize: $dark-background
.fbQuestionsPollResultsBar .shaded
	colorize: $page-background



// selector buttons
ui-button()
	colorize: $dark-background, $dark-background
	background-image: none !important;
	&:hover
		colorize: $dark-background, $main-border
.uiSelectorNormal
	.uiSelectorButton, .uiButtonSuppressed
		&, &:active, &:focus, &:hover
			ui-button()
.uiButton
	ui-button()
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton, .uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:active, .uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:focus, .uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:hover
	transparent()




// legend and splitter
.separator .text
.uiStreamHeader .uiSelector
	colorize: $main-background
	text-color: $dim-color



// main search
.uiTypeaheadView
	colorize: $dark-background, $main-border
ul.search
	colorize: $dark-background, $dark-background
	li
		text-color: $dim-color
		.text
			text-color: $link-color
		&.header
			colorize: $light-background, $page-border
			&, .text
				text-color: $color
		&.calltoaction
			colorize: $side-header-background, $side-header-border
			a
				&, .text, .seeMore
					text-color: $side-header-link-color
		&.selected
			colorize: $highlight-background, $highlight-border
			.text
				text-color: $name-color
.uiTypeaheadView .bucketed .header .text
	text-color: $color


// more pager
.uiBoxLightblue
	colorize: $side-header-background, $side-header-border



// image
.fbMainStreamAttachment
	.uiPhotoThumb, .uiMediaThumb, .uiVideoThumb
		border: 0 !important
		img, i
			margin: 0 3px 3px 0 !important
			box-shadow: 3px 3px 0 rgba(0,0,0,0.3) !important

// counters
.jewelCount
	colorize: $page-background

// timeline
.timelineLayout
	[id="contentCol"]
		colorize: $page-background
	.fbTimelineTopSection
	.timelineUnitContainer
		colorize: $main-background
	.frame.detail
	.fbTimelineRibbon
		colorize: $dark-background
	.counter
		colorize: $page-background
	.topBorder
	.bottomBorder
		background-image: none !important
	.topBorder
		border-bottom: 1px solid $main-border !important
	.bottomBorder
		border-top: 2px solid $main-border !important
	.spinePointer
		display: none
	.spineHoverPlus
		background-image: url("images/timeline-sprite.png") !important
	.fbTimelineCapsule
	.fbTimelineTimePeriod
		background-image: url("images/timeline-bar.png") !important
	.profilePicThumb
		colorize: $dark-background, $main-border
	.timelineTimestamp .uiSelectorButton
		transparent()
		border-width: 0 !important
	.stickyHeaderWrap
		colorize: $dark-background, $main-border
		.back
			colorize: $dark-background


// snowbox (lightbox)
.fbPhotoSnowbox
	colorize: rgba($main-background, 0.75)
	.container
		colorize: $dark-background, $page-border
		box-shadow: 0 1px 15px rgba($dim-color, 0.3), 0 0 1px rgba($dim-color, 0.7) !important
		.stageWrapper
			padding-bottom: 12px !important;
			.stageActions
				bottom: -36px !important;
		.photoInfoWrapper
			colorize: $page-background, $page-border
			padding-top: 36px !important;
			cancel: left, 12px
			cancel: right, 12px
			cancel: bottom, 12px
		.arrowLeft, .arrowRight
			a
				colorize: $dark-background, $page-border
		.arrowLeft a
			background-image: url("https://s-static.ak.facebook.com/rsrc.php/v1/yn/r/77uboGPzRks.png") !important
		.arrowRight a
			background-image: url("https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/KsODvVMV-0n.png") !important


// facebook dialogs
.generic_dialog
	.pop_content
		colorize: $page-background, $page-border
	.pop_container_advanced
		background: rgba($dim-color, 0.7) !important
	.dialog_buttons
		colorize: $main-background, $main-border
	h2.dialog_title
		colorize: $side-header-background, $side-header-border


// messaging
[id="MessagingShelf"], .MessagingReadHeader
	colorize: $main-background, $main-border



// social fixer / better facebook
#better_fb_cp
	text-color: $dim-color
	#bfb_status_older_posts_input
		text-field-style()
	input[type="checkbox"]
		dim-image()

.bfb_dialog
	colorize: $comments-background, $comments-background + #222
	.type_selected
		colorize: $side-header-background, $side-header-border

#bfb_options
	a
		text-color: $link-color
	include-button-style()
		input[type="button"], input[type="submit"]
			plain-button-style()
	.options_dialog
		colorize: $dark-background, $page-border
		.bfb_tab_selected
		#bfb_options_content
			colorize: $main-background, $main-border
			include-button-style()
		.bfb_tab_search
			colorize: $page-background, $main-border
	.GM_options_header
		colorize: $page-background, $page-border
	input.text
	textarea
	#bfb_options_search
		text-field-style()
	include-button-style()

.bfb_tabs
	.bfb_tab
		colorize: $main-background, $main-border
		text-color: $dim-color
	.bfb_tab_selected
		colorize: $main-border, $main-border
		text-color: $color

.bfb_post_action_container:not(:hover)
	dim-image-more()

.bfb_image_preview
	colorize: $dark-background, $main-border



// logged out pages

set-position(t = auto, r = auto, b = auto, l = auto, w = auto, h = auto)
	top: t !important
	right: r !important
	bottom: b !important
	left: l !important
	width: w !important
	height: h !important

absolute(t = auto, r = auto, b = auto, l = auto, w = auto, h = auto)
	set-position: t, r, b, l, w, h
	position: absolute !important

center(w, h, x = 0, y = 0)
	absolute: 50%, auto, auto, 50%, w, h
	margin-top: (y - h / 2) !important
	margin-left: (x - w / 2) !important

.UIPage_LoggedOut
	width: 100% !important
	height: 100% !important
	.loggedOut#blueBarHolder
		absolute: 0, 0, 0, 0
		#blueBar
			absolute: 0, 0, 0, 0
			.rfloat
				float: none !important
				.menu_login_container
					colorize: $main-background, $main-border
					border-style: dotted !important
					border-width: 1px !important
					center: 480px, 120px, -1px, -1px
					table
						margin: 20px auto 0 !important
						.uiButton input
							border-width: 0 !important
		z-index: 100 !important
	#globalContainer
		absolute: 100%, 0, auto, 0
	.gradient
		colorize: $main-background, $main-border
		background-image: none !important
	input, select
		text-field-style()






// make search bar look awesome

#blueBar
	.uiTypeahead
		background: $page-background !important
		box-shadow: inset 0 2px 5px $dark-background !important
		border-color: $main-border !important;
		.wrap
			&, .innerWrap
				&, .uiSearchInput
					&, span
						&, input, button
							background-color: transparent !important
		.search
			border-color: $main-border !important
			border-top-width: 0 !important;
			margin-left: -1px !important;
			margin-right: -1px !important;
	.topNavLink
	.DOMControl_placeholder
		text-color: $dim-color
.slimHeader #pageNav li.tinyman:after, .slimHeader #pageNav li.middleLink:after
	background: mix($dim-color, $dark-background, 50%) !important
