
:::stream-attachment {
  @bg: darken(@bg1, 3%);
  &--quote, &--border {
    border-color: @border1;
  }
  &--border-bg {
    background: @border1;
  }
  &--container {
    background: @bg;
  }
  &--share-box {
    background: @bg;
    .shadow;
  }
  &--title {
    .make-link;
  }
  &--notification {
    background: @bg;
    border-color: @border1;
  }
}
