
:::stream-attachment {
  @bg: darken(@bg1, 3%);
  &--quote, &--container--border, &--item--border {
    border-color: @border1;
  }
  &--container, &--item {
    background: @bg;
  }
  &--share-box {
    background: @bg;
    .shadow;
  }
  &--title {
    .make-link;
  }
}
