
:::stream-loading {
  &--background {
    background: @bg1;
  }
  background-color: @border1;
  background-image: linear-gradient(to right, @border1 0%, @border1-lighter 20%, @border1 40%, @border1 100%);
  @border1-lighter: lighten(@border1, 5%);
}
