
:::stream-story {
  border-color: @border1;
  &--body {
    .make-text-color;
  }
  &--link, &--comment-button {
    .make-link;
  }
  &--headline {
    font: 14px Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
    .make-mute-color;
    &--author {
      color: @name-color;
    }
  }
  &--separator-bg {
    background: @border1;
  }
  &--selected-story-indicator {
    background: @border1;
  }
  &--bling-box {
    border-color: transparent;
    &:hover { background: @bg3; }
  }
}
