
:::beeper {
  background: @bg5;
  border-color: lighten(@bg5, 10%);
  &:hover {
    background: lighten(@bg5, 3%);
  }
  &--text {
    color: @fg5;
  }
  &--time {
    color: @fg5-link;
  }
}

:::beeper-list {
  box-shadow: 0 0 12px @bg5;
}
