
:::comments {
  
  &--row, &--reply-list {
    background: @comments-bg;
  }
  
  &--row--reply {
    background: @comments-reply-bg;
    border-color: @comments-bg;
    &--border {
      border-color: @comments-bg;
    }
  }
  
  &--row--featured--name {
    background: @comments-bg - #111;
    border-color: @comments-bg + #0b0b0b;
  }
  
  &--row--unseen {
    background: @comments-new-bg;
    border-color: @comments-border;
  }
  
  &--textbox {
    &:extend(:::typeahead all);
  }
  
  &--media {
    background: darken(@bg1, 3%);
    border-color: @border1;
    .shadow;
  }
  
}