
:::right-column {
  .link-colors;
  &--unit {
    border-color: @border1;
  }
  &--side-header {
    background: @bg5;
    border-color: @border5;
    color: @fg5;
    &--link { color: @fg5-link; }
  }
}

:::right-column-add-friend-typeahead {
  &:extend(:::typeahead all);
}
