
@sidenav-opacity: 0.6;

:::sidenav {
  opacity: 0.6;
}

:::sidenav-welcomebox {
  &--link { .make-link; }
}

:::sidenav-list {

  // Because we set the sidenav opacity, to maintain the desired color,
  // we need to calculate the target color `color’`,
  // such that when it blended with the background color
  // will result in the desired color `color`.
  //
  // It goes according to this formula:
  //   color = color’ * alpha + page-bg * (1 - alpha)
  //   color’ = (color - page-bg * (1 - alpha)) / alpha
  @sidenav-mute-color: fade((@mute-color - @page-bg * (1 - @sidenav-opacity)) / @sidenav-opacity, 100%);
  @sidenav-bg1:        fade((@bg1        - @page-bg * (1 - @sidenav-opacity)) / @sidenav-opacity, 100%);
  @sidenav-bg3:        fade((@bg3        - @page-bg * (1 - @sidenav-opacity)) / @sidenav-opacity, 100%);
  @sidenav-fg3:        fade((@fg3        - @page-bg * (1 - @sidenav-opacity)) / @sidenav-opacity, 100%);
  @sidenav-border3:    fade((@border3    - @page-bg * (1 - @sidenav-opacity)) / @sidenav-opacity, 100%);

  &--item {
    border-color: transparent;
    color: @sidenav-mute-color;
    &:hover {
      background-color: mix(@bg1, @bg2, 50%);
    }
    &:focus {
      background-color: mix(@bg1, @bg2, 75%);
    }
    &:active {
      color: darken(@mute-color, 10%);
      background: transparent;
    }
    &--active {
      background: @sidenav-bg1;
      box-shadow: 0 2px 0 fade(black, 33%);
    }
    &--count {
      background-color: @sidenav-bg3;
      box-shadow: inset 0 0 1px @sidenav-border3;
      color: @sidenav-fg3;
    }
    &--loading {
      background: @bg1;
    }
  }
}
