
:::common-textbox {
  .make-text-color;
  background-color: @bg0;
  border-color: @border1;
}

:::common-placeholder {
  .make-mute-color;
}

:::common-inputtext {
  background-color: @bg0;
  &:not(.DOMControl_placeholder) {
    .make-text-color;
  }
}

:::common-mentions-input {
  background: @bg0;
  &--typeahead, &--textarea {
    background: transparent;
  }
  &--highlight {
    background: @comments-bg;
    box-shadow: 0 0 0 1px @comments-border,
      0 1px 4px black;
  }
}

:::common-tokenizer--token {
  .make-text-color;
  background: @bg3;
  border-color: @border3;
}

:::typeahead {
  &:extend(:::common-textbox all);
  & > .wrap {
    border-color: @border1;
  }
}

:::search-input {
  &:extend(:::common-textbox all);
  span {
    border: 0;
    input {
      .make-text-color;
    }
  }
  button {
    background-color: @border1;
  }
}


