:::timeline-huge-unit {
  
  &--title, &--see-all {
    background: @bg0;
    border-color: @border1;
    &--text {
      .make-text-color;
    }
  }
  
  &, &--background {
    background: @bg1;
  }
  &, &--border {
    border-color: @border1;
  }
  &--border-bg {
    background: @border1;
  }
  &--content {
    .link-colors;
  }
  
}
