
:::timeline {
  &--content-column, &--time-period {
    background: transparent;
  }
  &--scrubber {
    background: transparent;
    &--item { border-color: mix(@bg2, @border1, 50%); color: @mute-color; }
    &--item--selected { border-color: @border4; }
  }
  &--separator {
    border-color: @border1;
  }
  &--attachment {
    border-color: @border1;
  }
  &--spine-pointer {
    visibility: hidden;
  }
  &--time-marker {
    background: @bg4;
  }
}

:::timeline-button-pagelet {
  background: @page-bg;
  border-color: @border1;
}