<!DOCTYPE html><title>dark-facebook &mdash; {{page.title}}</title><meta charset=utf-8>
<meta name="og:title" content="dark-facebook" />
<meta name="og:url" content="http://dtinth.github.com/dark-facebook/" />
<meta name="og:type" content="website" />
<meta name="og:image" content="http://dtinth.github.com/dark-facebook/ss1.png" />
<meta name="og:site_name" content="dark-facebook" />
<meta name="fb:admins" content="1658509977" />
<meta name="og:description" content="a plain simple dark theme for Facebook" />
<link href='http://fonts.googleapis.com/css?family=Signika+Negative|Varela' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href="../style.css"><body>

<h1>dark-facebook<span class="version"> 2</span></h1>

<div class=lbox id=content>
  {{ content }}
</div>

