
@bg0: #090807;
@bg1: #353433;
@bg2: #252423;

@bg3: @bg1 + #003;
@bg4: #454443;

@fg1: #e9e8e7;
@fg0: #8b8685;
@fg3: @bg3 + #404040;

@border1: @bg1 + #111;
@border3: @bg3 + #111;
@border4: mix(@fg0, @bg4, 50%);

@page-bg:    @bg2;

@text-color: @fg1;
@mute-color: @fg0;
@link-color: mix(#8ad, @fg1, 80%);
@name-color: #bef;

@comments-bg:     @bg1 + #001 + #080808;
@comments-new-bg: @bg1 + #002 + #080808;
