
/**
 * dark-facebook - a dark theme for facebook
 * https://github.com/dtinth/dark-facebook
 */

mix(color1, color2, weight = 50%)
	w = unit(weight / 100%, '')
	y = 1 - w
	rgb(
		red(color1) * w + red(color2) * y,
		green(color1) * w + green(color2) * y,
		blue(color1) * w + blue(color2) * y)

deopacify($background, $alpha, $target)
	dv($bg-v, $target-v)
		$v = $bg-v + ($target-v - $bg-v) / $alpha
		if $v > 255
			warn('IMPOSSIBRU! TOO BRIGHT! Would result in ' + $fn + ' = ' + $v)
			return 255
		else if $v < 0
			warn('IMPOSSIBRU! TOO BRIGHT! Would result in ' + $fn + ' = ' + $v)
			return 0
		else
			return $v
	rgb(dv(red($background), red($target)), dv(green($background), green($target)), dv(blue($background), blue($target)))

cancel(side, amount, pad = 0)
	margin-{side}: -(amount) !important
	padding-{side}: amount + pad !important

$page-background = #252423
$color = #e9e8e7
$page-border = $page-background + #0c0c0c

$dim-color = #8b8685

$main-background = #353433
$main-border = $main-background + #101010

$highlight-background = $main-background + #003
$highlight-border = $highlight-background + #111
$highlight-color = $highlight-background + #404040
$attn-background = $main-background + #700

$dark-background = #090807
$light-background = $main-background + #070707
$light-border = $light-background + #101010
$comments-background = $main-background + #001 + #080808

$link-color = mix(#8ad, $color, 80%)
$name-color = #bef

$side-header-background = $main-background + #300
$side-header-border = lighten($side-header-background, 0.2) + #222
$side-header-text-color = lighten($side-header-background, 60%) + #333
$side-header-link-color = lighten($side-header-background, 50%)

colorize($background, $border = null)
	background-color: $background !important
	if $border != null
		border-color: $border !important

text-color($color)
	color: $color !important

transparent()
	background-color: transparent !important;

dim-image()
	opacity: 0.6 !important

dim-image-more()
	opacity: 0.2 !important



$text-field-background = #090807
$text-field-placeholder-color = $dim-color

plain-input-style()
	border-width: 1px !important
	border-style: solid !important
	-moz-appearance: none !important
	-webkit-appearance: none !important

plain-button-style()
	colorize: $dark-background, $dark-background
	background-image: none !important
	plain-input-style()
	cursor: pointer !important
	&:hover
		colorize: $page-background, $main-border

text-field-colors()
	colorize: $text-field-background
	background-image: none !important
	text-color: $color
	
text-field-style()
	text-field-colors()
	plain-input-style()



// page elements
*
	transparent()
	color: inherit !important
	border-color: inherit !important

body
	colorize: $page-background, $page-border
	color: $color !important

[id="blueBar"]
	colorize: $dark-background, $page-border
	border-color: $main-border !important
	background: $dark-background url('images/top-bar.png') top left repeat-x !important

.uiScrollableAreaTrack
	transparent()






// sidebar navigation
[id="sideNav"]
	sidenav-color($target)
		deopacify($page-background, 0.6, $target)
	opacity: 0.6 !important
	.navHeader
		text-color: sidenav-color(mix($dim-color, $page-background, 70%))
	.selectedItem .item
		colorize: sidenav-color($main-background)
		box-shadow: 0px 2px 0 $dark-background
	.uiSideNav
		text-color: sidenav-color($dim-color)
	.uiSideNavCount
		colorize: sidenav-color($highlight-background), sidenav-color($highlight-border)
		text-color: sidenav-color($highlight-color)
		box-shadow: inset 0 0 1px sidenav-color($highlight-border) !important

#leftCol > .uiHeader.uiHeaderNav.uiHeaderTopBorder
	sidenav-color($target)
		deopacify($page-background, 0.6, $target)
	opacity: 0.6 !important
	h4
		text-color: sidenav-color(mix($dim-color, $page-background, 70%))
		

// ads
#pagelet_ego_pane_w .ego_column:not(.egoOrganicColumn)
	opacity: 0.6 !important
	.ego_unit, .ego_unit a
		text-color: deopacify($page-background, 0.6, $dim-color)



// navigation items
// shared with links
.uiStreamPrivacy
// post type
.attachmentLink .img
// posted via icon
.uiStreamFooter .img
// like count
.uiUfiLike .UIImageBlock .UIImageBlock_Image
// add friend link in sidebar
.ego_action .img
// action links
.fbCurrentStory .img
// like comments share box
.uiBlingBox .img
	dim-image()




// content column
[id="contentCol"]
	colorize: $main-background, $main-border



// various arrows
.ufiNub
.nub
.hovercard .arrow
.uiOverlayArrow
// dim the wrench icon on social fixer
#bfb_options_button img
	dim-image-more()

// stream story drop down
.uiStreamContextButton
	background-image: url('images/stream-button.png') !important
	background-position: 0 -415px !important
.highlightSelector .uiStreamContextButton:hover { background-position: -21px -415px !important }
.highlightSelector.openToggler .uiStreamContextButton { background-position: -42px -415px !important }

// dimmed texts
.dfb-dim
.uiAttachmentDesc
.fbEmu
.ego_unit a
// font color gray
.fcg
	text-color: $dim-color


// links
.dfb-link
.UIActionLinks
.attachmentLink
.fbxWelcomeBoxName
.fbCurrent a
.fbEmuMainBody a
.fbEmu .title a
.fbJewelFlyout .blueName
.messageBody a
.uiListItem a, .uiListItem button
.ego_unit .ego_action a
.notesBlogText a
.timelineUnitContainer a
.fbPhotoSnowbox a
.generic_dialog a
ul.UFIList a
	text-color: $link-color
	.uiTooltipText
		text-color: $color


// dimmed text override
.uiStreamSource a
.uiStreamSource
a.timestamp
	text-color: $dim-color





// name color
.uiListItem a.actorName
.ego_unit .ego_title
	text-color: $name-color


// news feed stories
.storyHighlightIndicatorWrapper
	transparent()
	.img
		dim-image-more()

.storyContent .uiStreamMessage
	.actorName
	.actorDescription
	&.uiStreamPassive
		font: 14px/1.2 Helvetica, sans-serif !important;
		text-color: $dim-color
		a
			text-color: $dim-color + #111
	.actorDescription .actorName, .actorName a, a.passiveName
		text-color: $name-color
		font-weight: bold !important


// news feed share story link
.shareRedesignText, .shareRedesignContainer, .shareRedesign .shareMediaVideo
	colorize: rgba(0,0,0,0.1)
.shareRedesign .exploded .shareText, .shareRedesignText:before, .shareRedesign .shareRedesignContainer:before
	border-color: $main-border !important
.shareRedesign
	box-shadow: 3px 3px 0 rgba(0,0,0,0.3) !important
	.uiAttachmentTitle
		text-color: $color


// news feed story image
.fbMainStreamAttachment
	.uiScaledImageContainer
		box-shadow: 3px 3px 0 rgba(0,0,0,0.3) !important
	.uiPhotoThumb, .uiMediaThumb, .uiVideoThumb
		border: 0 !important
		img, i
			margin: 0 3px 3px 0 !important
			box-shadow: 3px 3px 0 rgba(0,0,0,0.3) !important











// comments list
.UFIList
	.UFIRow
		colorize: $comments-background, $comments-background + #111
	.UFIUnseenItem
		colorize: $comments-background + #001, $comments-background + #112


// text fields
[id="globalContainer"]
	.uiSearchInput
	.inputContainer
	.MessagingComposerBody
	.uiTypeahead
		text-field-colors()
	.fbChatTypeahead input
		background-image: none !important

.DOMControl_placeholder
	text-color: $text-field-placeholder-color


// sidebar header
.dfb-side-header
	colorize: $side-header-background, $side-header-border
	text-color: $side-header-text-color
	a
		text-color: $side-header-link-color

body:not(.timelineLayout) .uiSideHeader
#rightCol .uiHeaderSection
	@extend .dfb-side-header

// reminders

#pagelet_reminders
	#birthday_reminders_link:not([ajaxify]):not([data-gt]):not([role]) .fbRemindersTitle
		@extend .dfb-link
	img.img
		dim-image()






// tooltips
.uiTooltip
	transparent()
.uiTooltipText, .fbPlotTooltipText
	colorize: $dark-background


// another version of tooltip in facebook
.uiTooltipX
	.content, .tooltipContent
		colorize: $dark-background, $dark-background
		text-color: $color
tooltipx-border(pos)
	.uiTooltipX i.arrow
		border-{pos}-color: $dark-background !important
.aboveleft, .aboveright, .abovecenter
	tooltipx-border: top
.belowleft, .belowright, .belowcenter
	tooltipx-border: bottom
.left
	tooltipx-border: left
.right
	tooltipx-border: right

// user hover popup
.-cx-PRIVATE-uiContextualDialog__content
	colorize: $main-background
.uiBoxGray
	colorize: $page-background
.uiContextualLayer ._k5
	colorize: $dark-background




// ========= menus ==========
.dfb-menu
	colorize: $dark-background, $main-border

menu-style($item='li', $separator='li.uiMenuSeparator, li.uiMenuXSeparator', $separatorMode='border')
	@extend .dfb-menu
	{$item}
		colorize: $dark-background, $dark-background
		text-color: $color
		&:hover
			colorize: $highlight-background, $highlight-border
	if $separatorMode == 'border'
		{$separator}
			border-color: $page-border !important
			&:hover
				transparent()
	else if $separatorMode == 'background'
		{$separator}
			background-color: $page-border !important

menu-style-fix()
	.uiMenuInner
		menu-style()

div.uiMenu
.uiMenuXWrapper
ul.navigation
// ffixer
#fbf-bookmark-list
	menu-style()

// for social fixer
.bfb_hide_menu
	menu-style('.bfb_item')

ul#bfb_option_list#bfb_option_list
	menu-style('li a', '.menuDivider', 'background')






// overlays
.uiOverlay
	transparent()
	.uiOverlayContent
		colorize: $main-background, $main-border
		menu-style-fix()


// beeper
.UIBeeper_Full
	colorize: $side-header-background, $side-header-border
	box-shadow: 0 0 8px rgba($side-header-border, 0.5)



// chat boxes
.fbNubButton
	colorize: $page-background, $main-border
	box-shadow: 0 1px 0 rgba(white, 0.3) !important

// chat sheet info
.sheetContainer .sheet
	colorize: $dark-background, $main-border

// scrollbars
.uiScrollableAreaGripper
	colorize: $dark-background, $main-border


// chat sidebar
.fbChatSidebar
	&, .uiTypeahead
	.fbFeedTicker .fbFeedTickerStory
		colorize: $main-background, $main-border
	&, *
		box-shadow: none !important


// chat popup
.fbNubFlyout
	colorize: $dark-background, $main-border
	.fbNubFlyoutInner
		colorize: $page-background, $page-border
	.titlebar
		colorize: $side-header-background, $side-header-border
		menu-style-fix()
	.fbNubFlyoutHeader
		colorize: $page-background

// blinking popup chat titlebar
.fbMercuryChatTab.highlightTitle .fbNubFlyout .titlebar
	colorize: lighten($side-header-background, 15%), $side-header-border

._7f.typingIndicator
	text-color: $dim-color !important
	._9r
		opacity: 0.36

// hover ticket
.fbFeedTicker .tickerStoryActive, .fbFeedTicker .tickerStoryClickable:hover
	colorize: $highlight-background




// try lists menu
.FlyoutFriendListMenuNUX
	colorize: $main-background, $main-border


// hovercards
.hovercard .stage, .HovercardStage
	colorize: $dark-background, $main-border
	.actions, .uiHovercardFooter
		colorize: $page-background

// jewel flyouts
#jewelContainer .fbJewel.openToggler
	.jewelButton
		colorize: $dark-background, $light-border
		border-top-width: 1px !important;
		border-top-style: solid !important;

.fbJewelFlyout
	colorize: $light-background, $light-border
	.notification[style], .jewelItemNew
		colorize: $light-background + #111
	.notification.selected, a:hover
		colorize: $highlight-background, $highlight-border
	.jewelHeader
		colorize: $dark-background, $main-border
.fbJewelFlyout .jewelHighlight a:hover span, .fbJewelFlyout .jewelHighlight a:active span, .fbJewelFlyout .jewelHighlight a:focus span, .fbJewelFlyout .jewelHighlight a:hover div, .fbJewelFlyout .jewelHighlight a:active div, .fbJewelFlyout .jewelHighlight a:focus div, .fbJewelFlyout .jewelHighlight li.selected a, .fbJewelFlyout .jewelHighlight li.selected .timestamp
	colorize: $highlight-background, $highlight-border
.jewelFooter
	colorize: $side-header-background, $side-header-border

.notifNegativeBase .fbJewelFlyout, #tinymanNavWrapper .fbJewelFlyout
	top: 31px !important;

// poll results
.fbQuestionsPollResultsBar
	colorize: $dark-background
.fbQuestionsPollResultsBar .shaded
	colorize: $page-background



// selector buttons
ui-button()
	colorize: $dark-background, $dark-background
	background-image: none !important;
	&:hover
		colorize: $dark-background, $main-border
.uiSelectorNormal
	.uiSelectorButton, .uiButtonSuppressed
		&, &:active, &:focus, &:hover
			ui-button()
.uiButton
	ui-button()
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton, .uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:active, .uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:focus, .uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm .uiSelectorButton:hover
	transparent()
.uiButtonConfirm
	background: darken($highlight-background, 30%) !important;
	&:hover
		background: $highlight-background !important;


// the notifications beeper, new in facebook
.enableBeeper#fbNotificationsFlyout, ul._2a9 > li, ._3sod
	.beeperNub
		background: url('images/jewel-beeper-nub.png') 0 0 no-repeat !important
	colorize: $side-header-background, $side-header-border
	box-shadow: 0 0 8px rgba($side-header-border, 0.5)
#fbNotificationsList
	.notification.fbJewelBeep
		colorize: $side-header-background, $side-header-border



// legend and splitter
.separator .text
.uiStreamHeader .uiSelector
	colorize: $main-background
	text-color: $dim-color
	menu-style-fix()



// main search
.uiTypeaheadView
	colorize: $dark-background, $main-border
	// username completion
	ul.compact
		li
			colorize: $dark-background, $dark-background
			&.selected
				&, *
					colorize: $highlight-background, $highlight-border
			
ul.search
	colorize: $dark-background, $dark-background
	li
		text-color: $dim-color
		.text
			text-color: $link-color
		&.header
			colorize: $light-background, $page-border
			&, .text
				text-color: $color
		&.calltoaction
			colorize: $side-header-background, $side-header-border
			a
				&, .text, .seeMore
					text-color: $side-header-link-color
		&.selected
			colorize: $highlight-background, $highlight-border
			.text
				text-color: $name-color
.uiTypeaheadView .bucketed .header .text
	text-color: $color


// more pager
.uiBoxLightblue
	colorize: $side-header-background, $side-header-border

// image upload
.uiProgressBar
	colorize: $dark-background, $main-border
	.fill
		colorize: $dim-color
.clickToTagMessage
	colorize: $dark-background
.footerBox, .typeaheadBackdrop
	colorize: $dark-background





// counters
.jewelCount
	colorize: $attn-background
	

// timeline
.timelineLayout
	[id="contentCol"]
		colorize: $page-background
	.fbTimelineTopSection
	.timelineUnitContainer
		colorize: $main-background
	.frame.detail
	.fbTimelineRibbon
		colorize: $dark-background
	.counter
		colorize: $page-background
	.topBorder
	.bottomBorder
		background-image: none !important
	.topBorder
		border-bottom: 1px solid $main-border !important
	.bottomBorder
	.topSectionBottomBorder
		border-top: 2px solid $main-border !important
	.spinePointer
		display: none
	.spineHoverPlus
		background-image: url("images/timeline-sprite.png") !important
	.fbTimelineCapsule
	.fbTimelineTimePeriod
		background-image: url("images/timeline-bar.png") !important
	.profilePicThumb
		colorize: $dark-background, $main-border
	.timelineTimestamp .uiSelectorButton
		transparent()
		border-width: 0 !important
	i.topSectionBottomBorder
		background-image: none !important
	.stickyHeaderWrap
		colorize: $dark-background, $main-border
		.back
			colorize: $dark-background


// snowlift (facebook's new lightbox)
.uiLayer
	colorize: rgba($main-background, 0.75)

.fbPhotoSnowlift
	colorize: rgba($main-background, 0.75)
	.fbPhotoSnowliftContainer
		colorize: $dark-background, $page-border
		box-shadow: 0 1px 15px rgba($dim-color, 0.3), 0 0 1px rgba($dim-color, 0.7) !important

.snowliftOverlayBar
	colorize: rgba($dark-background, 0.45)
	a.buttonLink
		colorize: rgba($dark-background, 0.7), $main-border

// facebook dialogs
.generic_dialog, ._1yv
	.pop_content, ._t
		colorize: $page-background, $page-border
	.pop_container_advanced, ._1yu
		background: rgba($dim-color, 0.7) !important
		border-color: rgba($dim-color, 0.7) !important
	.dialog_buttons, .uiOverlayFooter
		colorize: $main-background, $main-border
	h2.dialog_title, ._1yw
		colorize: $side-header-background, $side-header-border

.uiDialog, .cx-uiDialog__content, .-cx-PRIVATE-uiDialog__content
	colorize: $page-background, $page-border
.cx-uiDialog__border, .-cx-PRIVATE-uiDialog__border
	border-color: black !important;
.cx-uiDialog__body, .-cx-PRIVATE-uiDialog__body
	border-color: $main-border !important
.uiDialog .dialogFooter, .cx-uiDialog__footer, .-cx-PRIVATE-uiDialog__footer
	colorize: $main-background, $main-border
.uiDialog .dialogTitle, .cx-uiDialog__title, .-cx-PRIVATE-uiDialog__title
	colorize: $side-header-background, $side-header-border


// messaging
[id="MessagingShelf"], .MessagingReadHeader
	colorize: $main-background, $main-border



// social fixer / better facebook
#better_fb_cp
	text-color: $dim-color
	#bfb_status_older_posts_input
		text-field-style()
	input[type="checkbox"]
		dim-image()


// better face book
.bfb_dialog
	colorize: $comments-background, $comments-background + #222
	.type_selected
		colorize: $side-header-background, $side-header-border

#bfb_options
	a
		text-color: $link-color
	include-button-style()
		input[type="button"], input[type="submit"]
			plain-button-style()
	.options_dialog
		colorize: $dark-background, $page-border
		.bfb_tab_selected
		#bfb_options_content
			colorize: $main-background, $main-border
			include-button-style()
		.bfb_tab_search
			colorize: $page-background, $main-border
	.GM_options_header
		colorize: $page-background, $page-border
	input.text
	textarea
	#bfb_options_search
		text-field-style()
	include-button-style()

.bfb_tabs
	.bfb_tab
		colorize: $main-background, $main-border
		text-color: $dim-color
	.bfb_tab_selected
		colorize: $main-border, $main-border
		text-color: $color

.bfb_post_action_container:not(:hover)
	dim-image-more()

.bfb_image_preview
	colorize: $dark-background, $main-border



// logged out pages

set-position(t = auto, r = auto, b = auto, l = auto, w = auto, h = auto)
	top: t !important
	right: r !important
	bottom: b !important
	left: l !important
	width: w !important
	height: h !important

absolute(t = auto, r = auto, b = auto, l = auto, w = auto, h = auto)
	set-position: t, r, b, l, w, h
	position: absolute !important

center(w, h, x = 0, y = 0)
	absolute: 50%, auto, auto, 50%, w, h
	margin-top: (y - h / 2) !important
	margin-left: (x - w / 2) !important

.UIPage_LoggedOut.fbIndex
	width: 100% !important
	height: 100% !important
	.loggedOut#blueBarHolder
		absolute: 0, 0, 0, 0
		#blueBar
			absolute: 0, 0, 0, 0
			.rfloat
				float: none !important
				.menu_login_container
					colorize: $main-background, $main-border
					border-style: dotted !important
					border-width: 1px !important
					center: 480px, 120px, -1px, -1px
					table
						margin: 20px auto 0 !important
						.uiButton input
							border-width: 0 !important
		z-index: 100 !important
	#globalContainer
		absolute: 100%, 0, auto, 0
	.gradient
		colorize: $main-background, $main-border
		background-image: none !important
	input, select
		text-field-style()






// make search bar look awesome

search-bar-style()
	background: $page-background !important
	box-shadow: inset 0 2px 5px $dark-background !important
	border-color: $main-border !important

#blueBar
	.uiTypeahead
		search-bar-style()
		.wrap
			&, .innerWrap
				&, .uiSearchInput
					&, span
						&, input, button
							background-color: transparent !important
		.search
			border-color: $main-border !important
			border-top-width: 0 !important
			margin-left: -1px !important
			margin-right: -1px !important
	.topNavLink
	.DOMControl_placeholder
		text-color: $dim-color
	#pageNav a
		color: $dim-color !important
	#navAccountLink .menuPulldown
		dim-image()
.slimHeader #pageNav li.tinyman:after, .slimHeader #pageNav li.middleLink:after
	background: mix($dim-color, $dark-background, 50%) !important



// make profile picture / image cropper
div.photocrop
	.bg
		background-color: #000 !important
	.viewport
		box-shadow: 0 1px 10px rgba(#000, 0.5) !important
		div
			background-color: rgba(#fff,0.5) !important
			border-radius: 10px !important
			box-shadow: inset 0 0 5px #fff, 0 1px 2px #000 !important
			opacity: 1 !important


// booklets.... possibly on sharing pages
[id="booklet"]
	[id="pageheader"]
		colorize: $side-header-background, $side-header-border


// fix highlighting
.uiMentionsInput
	colorize: $dark-background, $main-border
	.uiTypeahead
		transparent()

.highlighter
	.highlighterContent
		color: $dark-background !important
		b
			color: rgba($dark-background,0) !important
			background: rgba($link-color,0.3) !important



// facebook scrollbars

.uiScrollableAreaGripper
	background-color: $dim-color !important


// and now for developers.facebook.com

.devsitePage
	.body .content
		colorize: $main-background, $main-border
		background-image: none !important
		.uiHeader
			colorize: $side-header-background, $side-header-border
		.insightsDateHeader
			colorize: $highlight-background, $highlight-border
			.insightsDateRange
				text-field-colors()
	.menu
		background: $dark-background url('images/top-bar.png') top left repeat-x !important
		.content
			a.l
				text-color: $dim-color
			border: 0 !important
			.uiTypeahead
				search-bar-style()


// new style groups title bar
#headerArea
	.groupsSlimBarTop
		colorize: rgba($dark-background, 0.85), $main-border
	.groupHugFrame .mask
		background: $dark-background !important

.fbDockChatTab .sheetContainer .sheet
	colorize: $main-background, $main-border


// groups jump bar
.groupsJumpBarTop
	border-top-color: rgba(0,0,0,0.5) !important
	background: $dark-background !important
	.groupsCleanLink
		border-top-color: rgba(0,0,0,0.1) !important;
	.groupsCleanLinksSelected
		background: $main-background !important
		&, *
			color: $color !important

